<!DOCTYPE html>
<html>
<link href="css/index.css" rel="stylesheet"/>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style>
		/* a 태그를 테이블 셀 전체에 걸리도록 설정 */
		td a {
			display: block;
			width: 100%;
			height: 100%;
			text-decoration: none; /* 밑줄 없애기 */
			color: inherit; /* 글자 색상 상속 */
		}
	</style>
</head>
<div th:replace="~{/fragments/header.html :: fragment-menu}"></div>
<body>
	<table>
		<tr>
			<th>검사이름</th>
			<th>환자아이디</th>
			<th>장비</th>
			<th>환지이름</th>
			<th>환자성별</th>
			<th>환자생일</th>
			<th>시리즈건수</th>
			<th>이미지건수</th>
		</tr>
		<!--for 문-->
		<tr th:each="study : ${study}" >
			<td><a th:href="@{/seriesForm(studyKey=${study.studyKey})}" th:text="${study.studyDesc}!= null ? ${study.studyDesc}: '이름없음'"></a></td>
			<td th:text="${study.pid}"></td>
			<td th:text="${study.modality}"></td>
			<td th:text="${study.pname}"></td>
			<td th:text="${study.psex}"></td>
			<td th:text="${study.pBirthDateTime}"></td>
			<td th:text="${study.seriesCnt}"></td>
			<td th:text="${study.imageCnt}"></td>
		</tr>
	</table>
</body>

</html>
