<!DOCTYPE html>
<html>
<link href="css/index.css" rel="stylesheet"/>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style>
		td,th{
			border: 1px solid;
			text-align: center;
		}
		tr{
			cursor: pointer;
		}
		tr:hover {
			background-color: #f0f0f0; /* 원하는 색상으로 변경 */
		}
	</style>
</head>
<div th:replace="~{/fragments/header.html :: fragment-menu}"></div>
<body>
	<table>
		<tr>
			<th>검사이름</th>
			<th>환자아이디</th>
			<th>장비</th>
			<th>환지이름</th>
			<th>환자성별</th>
			<th>환자생일</th>
			<th>시리즈건수</th>
			<th>이미지건수</th>
			<th>판독결과</th>
		</tr>
		<!--for 문-->
		<tr th:each="study : ${study}" th:onclick="|location.href='@{/ImageTabList(studyKey=${study.studyKey})}'|">
			<td th:text="${study.studyDesc}!= null ? ${study.studyDesc}: '이름없음'"></td>
			<td th:text="${study.pid}"></td>
			<td th:text="${study.modality}"></td>
			<td th:text="${study.pname}"></td>
			<td th:text="${study.psex}"></td>
			<td th:text="${study.pBirthDateTime}"></td>
			<td th:text="${study.seriesCnt}"></td>
			<td th:text="${study.imageCnt}"></td>
			<td th:text="${study.reportStatus}==3 ? 
						'읽지않음':(${study.reportStatus}==5 ?
						'예비판독':'판독')"></td>
		</tr>
	</table>
</body>

</html>
